<% include header %>

<h1><a href="/"><< Home</a></h1>

<h2><span>Deze pagina kan niet gevonden worden</span> :</h2>

<section>
<p>Sorry, de pagina die je zoekt bestaat niet of kan niet gevonden worden.</p>
</section>

<% include footer %>
