  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>

<h2 class= "footer">
<a class='wit' href="#">Link naar Heroku APP</a>
</h2>
