  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>

<div class="boodschap">
  <a href="/nieuwe-boodschap">Voeg een bericht toe!</a>
</div>

<h2 class= "footer">
<a class='wit' href="https://peaceful-everglades-60017.herokuapp.com/f">Link naar Heroku APP</a>
</h2>
