<!doctype html>
<html>
	<head>
		<title>The Art of Photography</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>

		<a href="/"><h1>The Art of Photography</h1></a>
